/* Button styling */
.Button {
  font-size: 18px;
  background-color: rgb(255, 102, 0);
  color: rgb(252, 211, 136);
  border-color: 2px solid rgb(92, 91, 91);
  border-radius: 30px;
  padding: 15px 40px;
  font-weight: bold;
}

/* Button hover styling */
.Button:hover {
  cursor: pointer;
  transition: 0.3s ease-in-out;
  background-color: darkorange;
  color: black;
  border-color: 2px solid orange;
  font-size: 18px;
}

/* Container styling */
.container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Media query width 576px */
@media only screen and (max-width: 576px) {
  .Button {
    padding: 10px 20px;
  }
}
