* {
  padding: 0;
  margin: 0;
}

/* Container styling */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.4;
}

/* Title styling */
.title {
  text-align: center;
}

/* Description styling */
.description {
  margin-bottom: 20px;
}

.description p {
  font-size: 20px;
}

/* Media query */
@media only screen and (max-width: 576px) {
  .description p {
    font-size: 15px;
    margin-left: 3%;
    margin-right: 3%;
  }
}
