* {
  padding: 0;
  margin: 0;
}

/* Background image for the banner */
.banner {
  background-image: url("../../assets/img/globalwarming.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Media query for screen width up to 1024px */
@media only screen and (max-width: 1024px) {
  .banner {
    /* Change background image for smaller screens */
    background-image: url("../../assets/img/polarice.jpg");
  }

  /* Show the element and position it on the screen */
  .show {
    position: fixed;
    top: 50%;
    display: block;
    margin-left: 3%;
  }

  /* Hide the element */
  .hide {
    display: none;
    margin-left: 3%;
  }
}
