* {
  padding: 0;
  margin: 0;
}
.banner {
  background-image: url("../../assets/img/globalwarming.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  .banner {
    background-image: url("../../assets/img/polarice.jpg");
  }
}
