* {
    padding: 0;
    margin: 0;
  }

  .banner {
    background-image: url("../../assets/img/globalwarming.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .text {
    font-size: 20px;
  }

  .error {
    font-size: 50px;
  }

  @media only screen and (max-width: 576px) {
    .error {
      font-size: 19px;
    }

    .text {
      font-size: 12px;
    }
  }